<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %5p %m%n"/>
        </Console>
    </Appenders>
    <loggers>
        <root level="WARN" additivity="true">
            <AppenderRef ref="Console"/>
        </root>
        <Logger name="com.example.demo.mapper" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.springframework.web.servlet.view.JstlView" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.springframework.web.servlet.mvc.method.annotation.RequestResponseBodyMethodProcessor"
                level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <Filters>
                <RegexFilter regex=".*Using 'application/json;charset=UTF-8'.*" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
        </Logger>
    </loggers>
</configuration>