/* 전역 css 초기화 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 테이블 CSS */
table, tr, th, td {
    border: 1px solid #333;
     border-collapse: collapse;
}

th {
    width:140px;
    height:25px;
    padding:10px;
    box-sizing: border-box;
}