html {
    overflow: hidden;
}

body {
    scroll-behavior:smooth;
    transition: all 1s cubic-bezier(0.340, -0.600, 0.515, 1.570);
}

section {
    width:100%;
    height:100vh;
    z-index:-1;
}


/* 메인 배너 섹션 (동영상) */
.videoBannerSection {
    overflow: hidden;
    position:relative;
}
.videoBannerSection video {
    width:100%;
    margin-top:-50px;
}


/* 두 번째 섹션 */
.secondSection {
    position: relative;
    background-color: #eee;
}

.secondSection::before {
    content: "";
    background-image: url("../image/Camera_man.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.25;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
}

.secondSection .wrap {
    display: flex;
}

.secondSection .wrap div, .secondSection h1 {
    position: relative;
}

.secondSection .wrap div {
    font-size:32px;
    font-weight: 500;
    margin-top: 17%;
    color: #333;
}

.secondSection .wrap div p:nth-child(1) {
    font-weight: bold;
    font-size: 48px;
}
.secondSection .wrap div p:nth-child(3) {
    margin-top: 25px;
}

.secondSection h1 {
    margin-top:25px;
    font-size:72px;
    color:#FFA800;
    text-shadow: -4px -4px white;
}


/* 세 번째 섹션 */
.thirdSection {
    box-sizing: border-box;
    padding: 170px 0;
    text-align: center;
    position: relative;
    background-color: #000;
}

.thirdSection::before {
    content: "";
    background-image: url('../image/workPics/third_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.15;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
}

.thirdSection h1 {
    font-size:32px;
    margin-bottom: 100px;
    /* margin-bottom : 40px; */
    color: #eee;
}

.thirdSection span {
    color:#333;
    font-size:48px;
    -webkit-text-stroke: 1px #fbff00cb;
}
    
/* 슬라이드 (세 번째 섹션) */
.thirdSection .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    padding-top: 3%;
}

.slide-content {
    margin-top:15px;
}

.thirdSection .wrap .more {
    color: #fff;
}

.thirdSection .wrap .thirdSection-slide {
    display: flex;
    justify-content: center;
}

.sliderField img {
    width: 300px;
    height: 300px;
}

.sliderField div {
    text-align: center;
    display: flex;     /* 'flex'를 주어서 슬라이드 이미지를 가로로 바꾸기 */
    width: 100%;
}

.sliderField div a img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.btn {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    border-top: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
}

.prev-btn {
    left: 100px;
    transform: rotate(-135deg);
}

.next-btn {
    right: 100px;
    transform: rotate(45deg);
}

/* 네 번째 섹션 */
.contactSection {
    display: flex;
    align-items: center;
}

.goToConts {
    font-size: 48px;
}

.goToConts button {
    font-size: 16px;
    display:inline-block;
	width:120px;
	height:32px;
	background-color:#000;
	text-align:center;
	line-height:33px;
	color:#fff;
	border-radius:50px;
	font-weight:bold;
    cursor: pointer;
    border: none;
}

.goToConts button:hover {
    background-color: #ddd;
    color:#333;
    transition: 0.3s;
}


/* 제안서 CSS (contact.jsp) */
.contact-sec {
    box-sizing: border-box;
    position: relative;
    width: 65%;
    margin-left: 11%;
}

.contact h2 {
    color:black;
    margin-bottom:40px;
}
.contact div {
    margin:30px 0;
}
.contact div .input-text {
    width:400px;
    height:30px;
}

.input-text, .q_text, .radio {
	position:relative;
	z-index:0;
}

.contact div p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}
.contact .submit {
    width:170px;
    height:40px;
    border-radius: 36px;
    background-color: #333;
    color:#fff;
    border:0;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}
.contact .submit:hover {
    background-color: bisque;
    color:#333;
    font-weight: bold;
}

.contact div span, .new-join div span {
	font-weight:bold;
	color:crimson;
}


/* 스크롤 다운 애니메이션 효과 */
.scrollAnimation {
    padding-top: 80px;
    color:#fff;
    position: absolute;
    bottom:30px;
    right: 50%;
    font-weight: bold;
}

.scrollAnimation span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scrollDown 2s infinite;
    animation: scrollDown 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
.scrollAnimation span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.scrollAnimation span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
.scrollAnimation span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}


/* aboutUs */
.aboutSection {
    height:70vh;
    padding-top: 154px;
    box-sizing: border-box;
    background-color: #999;
    z-index: -10;
}

.aboutSection .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutSection img {
    width:100%;
    height:500px;
}

.aboutSection .wrap div {
    width: 50%;
    margin: 0;
}

.aboutSection .wrap h1 {
    margin-bottom:20px;
    font-size:72px;
    color:#FFA800;
    text-shadow: -4px -4px #333;
}

.aboutSection .wrap p {
    margin:10px 0;
    font-size:18px;
}

.aboutSection .wrap span {
    font-size:22px;
    font-weight: bold;
}


@-webkit-keyframes scrollDown {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 미디어쿼리 */
/* 노트북 사이즈 */
@media (min-width: 1024px) and (max-width: 1540px) {
    .scrollAnimation {
        right : 46%;
    }

    .thirdSection h1 {
        margin-bottom : 40px;
    }

    .aboutSection {
        padding-top: 0;
        box-sizing: border-box;
        background-color: #999;
        z-index: -10;
    }

    .aboutSection .wrap h1 {
        font-size:60px;
        text-align: left;
    }

    .aboutSection img {
        height: 510px;
    }
}