html {
    overflow: hidden;
}

body {
    scroll-behavior:smooth;
    transition: all 1s cubic-bezier(0.340, -0.600, 0.515, 1.570);
}

section {
    width:100%;
    height:100vh;
    z-index:-1;
}


/* 메인 배너 섹션 (동영상) */
.video-sec {
    overflow: hidden;
    position:relative;
}
.video-sec video {
    width:100%;
    margin-top:-50px;
}


/* 두 번째 섹션 */
.secondSection {
    position: relative;
    background-color: #333;
}

.secondSection::before {
    content: "";
    background-image: url("../image/Camera_man.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.25;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
}

.secondSection .wrap {
    display: flex;
}

.secondSection .wrap div, .secondSection h1 {
    position: relative;
}

.secondSection .wrap div {
    font-size:32px;
    font-weight: 500;
    margin-top: 17%;
    color: #eee;
}

.secondSection .wrap div p:nth-child(1) {
    font-weight: bold;
    font-size: 48px;
}
.secondSection .wrap div p:nth-child(3) {
    margin-top: 25px;
}

.secondSection h1 {
    margin-top:25px;
    font-size:72px;
    color:#FFA800;
    text-shadow: -4px -4px white;
}

/* 두 번째 섹션 - 슬라이드 구현 */
.sliderWrap {
    width:400px;
    height:400px;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    width:100%;
    height:100%;
    transition-property: transform;
    transition-duration: 0.5s;
}

.slideImage {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideImage:nth-child(1) {background-color: skyblue;} 
.slideImage:nth-child(2) {background-color: tomato;}
.slideImage:nth-child(3) {background-color: yellowgreen;}
.slideImage:nth-child(4) {background-color: lightsalmon;}
.slideImage:nth-child(5) {background-color: whitesmoke;}

button, button:active, button:focus {
    position: absolute;
    top:45%;
    transform: translateY(-50%);
    width:50px;
    height:20px;
    border:none;
    background-color: coral;
    color:#fff;
    outline: none;
}
.next {
    right: 0;
}


/* 제안서 CSS (contact.jsp) */
.contact-sec {
    box-sizing: border-box;
    position: relative;
    width: 65%;
    margin-left: 11%;
}

.contact h2 {
    color:black;
    margin-bottom:40px;
}
.contact div {
    margin:30px 0;
}
.contact div .input-text {
    width:400px;
    height:30px;
}

.input-text, .q_text, .radio {
	position:relative;
	z-index:0;
}

.contact div p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}
.contact .submit {
    width:170px;
    height:40px;
    border-radius: 36px;
    background-color: #333;
    color:#fff;
    border:0;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}
.contact .submit:hover {
    background-color: bisque;
    color:#333;
    font-weight: bold;
}

.contact div span, .new-join div span {
	font-weight:bold;
	color:crimson;
}


/* 스크롤 다운 애니메이션 효과 */
.scrollAnimation {
    padding-top: 80px;
    color:#fff;
    position: absolute;
    bottom:30px;
    right: 50%;
    font-weight: bold;
}
.scrollAnimation span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scrollDown 2s infinite;
    animation: scrollDown 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}
.scrollAnimation span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.scrollAnimation span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
.scrollAnimation span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes scrollDown {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}